/* 
 * Background colors:
 * #63989E - muted blue
 * #9AB29C - soft green
 * #657980 - dark gray blue
 * #546380 - purple
 *
 * Foreground colors:
 * #F0F7A7 - yellow
 * #60DAE6 - teal
*/
html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #353935;
  color: #fafafa;
}
.viewer {
  margin-top: 2em;
}
.greynote {
  color: #d0d0d0;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 black;
  padding-top: 1em;
}
.password-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  padding: 2em 3em;
  background-color: #dadada;
  color: black;
  display: none;
}
.password-form button {
  display: inline-block;
  line-height: 1.5em;
}
.slides {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #353935;
  color: #fafafa;
  padding: 2em 3em;
  font-size: 3em;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.viewer {
  font-size: 3em;
}
.viewer .greynote {
  font-size: .8em;
}
.viewer img {
  display: block;
  margin: 0 auto;
}
.slide h1 {
  font-size: 1.5em;
  margin-top: 0;
}
.slide li {
  margin-top: 1em;
}
.slide strong,
.slide em {
  color: #60DAE6;
}
.slide em a,
.slide em a:visited {
  color: #F0F7A7;
}
.slide a,
.slide a:visited {
  color: #F0F7A7;
}
svg {
  fill: #ffffff;
}
.bam {
  margin-top: 3em;
  text-align: center;
}
pre {
  padding: 1em 0;
  font-size: .68em;
}
/* slides */
.title-screen .bam {
  margin-top: -1em;
  color: #9AB29C;
  font-size: .75em;
}
.broadcast-url h1,
.title-screen h1 {
  display: none;
}
.title-screen h2,
.title-screen h3 {
  text-align: center;
}
.title-screen {
  padding: 0;
}
.title-screen h2 {
  background-color: #657980;
  padding: 1em 2em;
  margin-top: 2em;
  text-shadow: 2px 2px 0 #353535;
}
.broadcast-url h2 {
  color: #60DAE6;
  text-align: center;
}
.broadcast-url a,
.broadcast-url a:visited {
  color: #60DAE6;
}
.broadcast-url h3 {
  text-align: center;
}
.second-truth h1 {
  visibility: hidden;
}
.a-third-incentive {
  padding: 0;
}
.a-third-incentive h1 {
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 0;
  margin: 0;
}
.a-third-incentive .bam {
  font-size: 1.5em;
  padding: 1em;
  background-color: #546380;
  margin: 0;
  text-shadow: 2px 2px 0 #353535;
}
.performance .bam {
  margin-top: 2em;
  color: #F0F7A7;
  font-weight: bold;
}
.javascript-as-a-platform .bam {
  margin-top: 2em;
}
.javascript-as-a-language .bam,
.llvm-optimizations .bam {
  margin-top: 1em;
  font-size: .75em;
  color: #FF6600;
}
.possibilities {
  padding: 0;
  padding-top: 2em;
  text-shadow: 2px 2px 0 #353535;
}
.possibilities .bam {
  font-size: 1.5em;
  padding: 1em;
  background-color: #546380;
  margin: 0;
}
.possibilities h1 {
  display: none;
}
.possibilities img {
  position: absolute;
  right: 2em;
  bottom: 0;
}
.performance-gap img {
  display: inline;
}
.performance-gap .bam {
  margin-top: 0;
}
.performance-gap .bam.line {
  font-size: .8em;
}
.Performance-Gap .bam.line strong {
  font-weight: normal;
}
.optimization--typed-arrays pre {
  font-size: .5em;
}
.optimization--typed-arrays .reference {
  font-size: .5em;
}
.benchmarks--micro-,
.benchmarks--real-world-,
.asm-js-benchmarks--micro-,
.asm-js-benchmarks--real-world- {
  font-size: 1em;
  padding: 4em 5em;
}
.benchmarks--micro- h1,
.benchmarks--real-world- h1,
.asm-js-benchmarks--micro- h1,
.asm-js-benchmarks--real-world- h1 {
  font-size: 3em;
}
.benchmarks--micro- .graph,
.benchmarks--real-world- .graph,
.asm-js-benchmarks--micro- .graph,
.asm-js-benchmarks--real-world- .graph {
  width: 80%;
  margin: 0 auto;
}
.benchmarks--micro- .graph rect,
.benchmarks--real-world- .graph rect,
.asm-js-benchmarks--micro- .graph rect,
.asm-js-benchmarks--real-world- .graph rect {
  stroke: white;
}
.benchmarks--micro- .graph .line,
.benchmarks--real-world- .graph .line,
.asm-js-benchmarks--micro- .graph .line,
.asm-js-benchmarks--real-world- .graph .line {
  position: absolute;
  top: 0;
  background-color: #bbbbbb;
  width: 1px;
  z-index: -2;
}
.benchmarks--micro- .key,
.benchmarks--real-world- .key,
.asm-js-benchmarks--micro- .key,
.asm-js-benchmarks--real-world- .key {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  overflow: hidden;
}
.benchmarks--micro- .key span,
.benchmarks--real-world- .key span,
.asm-js-benchmarks--micro- .key span,
.asm-js-benchmarks--real-world- .key span {
  margin-left: 1em;
  float: right;
}
.benchmarks--micro- .key span:before,
.benchmarks--real-world- .key span:before,
.asm-js-benchmarks--micro- .key span:before,
.asm-js-benchmarks--real-world- .key span:before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: .5em;
  position: relative;
  top: .25em;
}
.benchmarks--micro- .label,
.benchmarks--real-world- .label,
.asm-js-benchmarks--micro- .label,
.asm-js-benchmarks--real-world- .label {
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.benchmarks--micro- .graph rect:nth-of-type(5n-4),
.benchmarks--real-world- .graph rect:nth-of-type(5n-4) {
  fill: #7495c0;
}
.benchmarks--micro- .graph rect:nth-of-type(5n-3),
.benchmarks--real-world- .graph rect:nth-of-type(5n-3) {
  fill: #ed3511;
}
.benchmarks--micro- .graph rect:nth-of-type(5n-2),
.benchmarks--real-world- .graph rect:nth-of-type(5n-2) {
  fill: #ff9900;
}
.benchmarks--micro- .key span:before,
.benchmarks--real-world- .key span:before {
  background-color: #7495c0;
}
.benchmarks--micro- .key span:nth-of-type(2n):before,
.benchmarks--real-world- .key span:nth-of-type(2n):before {
  background-color: #ed3511;
}
.benchmarks--micro- .key span:nth-of-type(3n+1):before,
.benchmarks--real-world- .key span:nth-of-type(3n+1):before {
  background-color: #ff9900;
}
.asm-js-benchmarks--micro- .graph rect:nth-of-type(6n-5),
.asm-js-benchmarks--real-world- .graph rect:nth-of-type(6n-5) {
  fill: #7495c0;
}
.asm-js-benchmarks--micro- .graph rect:nth-of-type(6n-4),
.asm-js-benchmarks--real-world- .graph rect:nth-of-type(6n-4) {
  fill: #ed3511;
}
.asm-js-benchmarks--micro- .graph rect:nth-of-type(6n-3),
.asm-js-benchmarks--real-world- .graph rect:nth-of-type(6n-3) {
  fill: #4d962a;
}
.asm-js-benchmarks--micro- .graph rect:nth-of-type(6n-2),
.asm-js-benchmarks--real-world- .graph rect:nth-of-type(6n-2) {
  fill: #ff9900;
}
.asm-js-benchmarks--micro- .key span:before,
.asm-js-benchmarks--real-world- .key span:before {
  background-color: #7495c0;
}
.asm-js-benchmarks--micro- .key span:nth-of-type(0n+3):before,
.asm-js-benchmarks--real-world- .key span:nth-of-type(0n+3):before {
  background-color: #ed3511;
}
.asm-js-benchmarks--micro- .key span:nth-of-type(0n+2):before,
.asm-js-benchmarks--real-world- .key span:nth-of-type(0n+2):before {
  background-color: #4d962a;
}
.asm-js-benchmarks--micro- .key span:nth-of-type(0n+1):before,
.asm-js-benchmarks--real-world- .key span:nth-of-type(0n+1):before {
  background-color: #ff9900;
}
.crysis,
.crysis2 {
  padding: 0;
}
.crysis h1,
.crysis2 h1 {
  display: none;
  margin: 0;
}
.crysis p,
.crysis2 p {
  margin: 0;
}
.crysis img,
.crysis2 img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
.crysis img {
  width: 1440px;
}
.crysis2 img {
  width: 1350px;
}
.viewer.crysis,
.viewer.crysis2 {
  margin-top: 0;
}
.asm-js-code pre {
  font-size: .5em;
}
.it-s-just-javascript strong {
  font-weight: normal;
}
.perf2x h1 {
  display: none;
}
.bam.small {
  font-size: .7em;
}
.example-assembly-output .bam {
  font-size: .75em;
}
.dynamic-languages h1 {
  display: none;
}
.credits li {
  margin: .5em 0;
}
.conclusion .bam {
  margin-top: 0;
  text-align: right;
  color: #9AB29C;
}
